version: '3'
services:
  api:
      platform: linux/x86_64
      build: ./backend
      environment:
        DATABASE_CLIENT: mysql
        DATABASE_HOST: mysql
        DATABASE_PORT: 3306
        DATABASE_NAME: strapi
        DATABASE_USERNAME: strapi
        DATABASE_PASSWORD: strapi
        DATABASE_SSL: 'false'
      volumes:
        - ./backend:/usr/src/app
        - /usr/src/app/node_modules
      ports:
        - "1337:1337"
      networks:
        - backend

  mysql:
    platform: linux/x86_64
    image: mysql
    command: mysqld --default-authentication-plugin=mysql_native_password
    volumes:
      - ./data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: strapi
      MYSQL_DATABASE: strapi
      MYSQL_USER: strapi
      MYSQL_PASSWORD: strapi
    networks:
      - backend
networks:
  backend: